
/* this section is the styling for element tags */

div {
  margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

form {
  border: solid rgb(149,194,215) 2px;
  padding: 3em;
  width: 40%;
  min-width: 15em;
  max-width: 26.5em;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 0;
}

/* this section is full of all the classes and the styling for them */

.content-area {
  min-height: 80%;
  margin-left: 500px;
  margin-right: 500px;
}

.title {
  color: black;
  padding:5px;
  margin:0;
  font-family: 'Teko',sans-serif;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  height: 120px;
  background: rgb(149,194,215);
}

.footer {
  width: 100%;
  height: 120px;
  background: rgb(149, 194, 215);
  display:flex;
  margin-top: 5px;
}

/* the code below is for styling list used for the navigation bar. */

.nav-list {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    text-decoration: none;
    border-bottom: solid black 5px;
}

.nav-placement {
    margin-left: 590px;
    margin-right: 590px;
}

/* the code below is used for the title */
.title-placement {
    margin-left: 600px;
    margin-right: 600px;
}

/* code for the logo positioning in the header */

.logo-placement {
  margin-left: 480px;
  margin-right: 480px;
}

.content {
  padding-left:30px;
  display: flex;
  font-family: arial, sans-serif;
}

/* code for the index page image design */

.index-image {
  height: 600px;
  width: 200px;
  float: left;
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* code for the design of the logo which is placed in the header */

.logo-image {
  height: 100px;
  width: 100px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}
/* the below section is for the CV list design. */
.cv-list {
  list-style: circle;
  font-family: arial, sans-serif;
}

.cv-image {
  height: 400px;
  width: 300px;
  float: right;
}

.cv-content{
  display: flex;
  justify-content: flex-start;
  width: 500px;
  font-family: arial, sans-serif;
}

/* design for the image on the contact page */

.contact-image {
  height: 500px;
  width: 320px;
  float: right;
  display: flex;
  justify-content: flex-start;
}

/* The below section is the class code for the bio page and divs */

.bio-title{
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.bio-content{
  display: flex;
  justify-content: flex-start;
  font-family: arial, sans-serif;
}

/* The below section is the design for the static form used within the website */

.form-layout {
  margin: 10px;
}
.email-title {
  color: black;
  text-decoration: underline;
  margin: 0;
  padding-bottom: 30px;
}
