.content-area {
  min-height: 80%;
  margin-left: 1.5em;
}


.title {
  color: black;
  padding:5px;
  margin:0;
  font-family: 'Teko',sans-serif;
  display: flex;
  justify-content: center;
  font-size: 40;

}

.header {
  width: 100%;
  height: 120px;
  background: rgb(149,194,215);
  margin: 10px;
}
.footer {
  width: 100%;
  height: 120px;
  background: rgb(149, 194, 215);
  display:flex;
  margin: 5px;

}

/* the code below is for styling list used for the navigation bar. */
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20;
    border-bottom: solid black; 5px;
}

.index-image {
  height: 600px;
  width: 200px;
  float: left;
  display: flex;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.contact-image {
  height: 500px;
  width: 320px;
  float: right;
  display: flex;
  justify-content: flex-end;
}

.bio-title{
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.bio-content{
  display: flex;
  justify-content: flex-start;
}

.content {
  padding-left:30px;
  display: flex;
}

form {
  border: solid rgb(149,194,215); 5px;
  padding: 2em;
  width: 40%;
  min-width: 15em;
  max-width: 26.5em;
  flex-direction: row;
  margin-left: 30px;
}

.form-layout {
  margin: 10;
}
.email-title {
  color: rgb(149,194,215);
  text-decoration: underline;
}
